
a{

    color: whitesmoke;
}


.home-container{
    background-image: url("./images/background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y:center ;
    font-family: var(--primary-font);
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.home-container a{
    color: whitesmoke;
}

.heart{
    width: 15vw;
    height: 6vh;
    margin-top: 4rem;
    margin-left: -20%;
    object-fit: contain;
}

.hero{
    margin-top: 15vh;
    margin-left: auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.hero-text-group{
    margin-bottom: -2vh;
}
.identity{
    font-family: var(--primary-font);
    font-size: 1.1rem;
    font-weight: 100;
}

.profession{
    font-size: 2.1rem;
    line-height: 40px;
}

.hero-image-group{
    width: 120%;
    display: flex;
    /* margin-left: 12vw; */
    margin-left: -10%;
    justify-content: flex-end;
}

.hero-image{
    width: 70%;
}

.contact-me-btn {
    margin: 8vh auto 0 auto; 
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: #BD1B7F;
    padding: 1.5vh 4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: whitesmoke;
}

.contact-me-btn a{
    color: whitesmoke;
}

.about-section{
    width: 95%;
    margin: 7vh auto 0 auto;
    font-family: var(--primary-font);
}

.roles-and-responsibilities{
    margin-top: 7vh;
    margin-left: auto;
    font-family: var(--primary-font);
    margin: 5vh auto 0 auto;
    width: 95%;
}

.about-header, .project-overview-header, .project-overview-header-design, .roles-header, .project-name, .community-header, .proofs-header, .learn-header, .youtube-header{
    line-height: 28px;
    margin-bottom: 1.5vh;     
}

.about-paragraph, .project-overview-text, .roles-paragraph, .each-project-text, .community-text-and-pic, .encouragement{
    font-size: 1rem;
    font-weight: 350;
}



.images{
    width: 95%;
    /* height: auto; */
    margin: 7% auto 0 auto;
    /* background-color: #BD1B7F; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.images img{
    width: 100%;
    height: auto;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.load-more-pics{
    background-color: #0f0f0f;
    border: 1px solid #BD1B7F;
    border-radius: 5px;
    padding: 2.5% 5%;
    margin-left: 2%;
    margin-top: 2%;

}

.load-more-pics a{
    color: whitesmoke;
}


.about-social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 7vh;
    margin-left: 10vw;
}

.curly{
    margin-top: -8vh;
    position: relative;
    z-index: -1;
}

.project-overview{
    margin-top: 12vh;
}

.project-overview-header-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-details{
    margin: 2vh auto 0 auto;
    width: 95%;
    font-family: var(--primary-font);
    position: relative;
    display: flex;
}


.project-details-header{
    margin-left: auto;
    font-size: .7rem;
    margin-top: 12%; 
    display: none;
}



.color-pink{
    color: var(--accent-color);
}


.projects{
    display: flex;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}


.projects img{
 max-width: 25%;
 margin-right: 7%;
 /* overflow-x: hidden; */
 /* image-rendering: crisp-edges; */
}




.pic-name{
    padding-bottom: 5%;
}

.pic-name p{
    font-weight: 400;
}


.learn-crypto{
    width: 100%;
    margin-left: auto;
    margin-top: 10%;
    font-family: var(--primary-font);
}

.learn-header, .proofs-header{
    width: 98%;
    margin-left: auto;
}

.book-title{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
}

.book-title:hover{
    font-size: larger;
}

.book-title img{
    width: 4%;
}
.books{
    font-family: var(--primary-font);
    background: linear-gradient(to bottom, rgba(29, 28, 28, 0) 0%, rgb(38, 38, 38) 60%, rgba(189, 27, 127, 0.157) 80%, rgba(29, 28, 28, 0));
}


.book-photo{
    width: 80%;
    margin-left: 9%;
    margin-top: 6%;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}

.book-photo:hover{
    width: 82%;
    transition: .2s ease-in;
}

.encouragement{
    text-align: center;
    width: 98%;
    /* color: #ff009d; */
    opacity: 0.7;
    padding-bottom: 5%
}

.youtube{
    margin-top: 15%;
}

.community-building{
    font-family: var(--primary-font);
    margin-top: 7vh;
    width: 98%;
    margin-left: auto;
}


.testimonies{
    width: 98%;
    margin-left: auto;
    display: flex;
    overflow-x: scroll;
    margin-top: 15%;
}

.testimonies img{
    border-radius: 50%;
    width: 15%;
}


.each-testimony{
    min-width: 80%;
    font-family: var(--primary-font);
    font-weight: 200;
    font-size: 14px;
    background-color: #1C1C1C;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
    padding: 5% 1% 5% 3%;
    /* margin-left:5% ; */
    margin-right: 14%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media screen and (min-width:600px) {
    .home-container{
        overflow: hidden;
        width: 100vw;
        position: relative;
    }

    .identity{
        font-size: 1.2rem;
    }

    .profession{
        font-size: 2.1rem;
    }

    .contact-me-btn{
        font-size: 1.2rem;
    }


    .about-header, .project-overview-header, .project-overview-header-design, .roles-header, .project-name, .community-header, .proofs-header, .learn-header, .youtube-header {
        font-size: 1.85rem;
    }    


    .about-paragraph, .project-overview-text, .roles-paragraph, .each-project-text, .community-text-and-pic, .encouragement{
        font-size: 1.3rem;
    }

    .curly{
        width: 80%;
    }

    .load-more-pics{
        margin-top: 5%;
        font-size: 1rem;
        opacity: .9;

    }

    .youtube{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }



}

@media screen and (min-width: 700px) {

    .home-container{
        position: relative;
    }

    .identity{
        font-size: 1.4rem;
    }
    .profession{
        font-size: 2.7rem;
        line-height: 49px;
    }

    .heart{
        position: absolute;
        right: 45%;
        bottom: 58%;
    }

    /* .hero-image{
        width: 65%;
    } */

    .about-header, .project-overview-header, .project-overview-header-design, .roles-header, .project-name, .community-header, .proofs-header, .learn-header, .youtube-header {
        font-size: 2.1rem;
    }   



    .about-paragraph, .project-overview-text, .roles-paragraph, .each-project-text, .community-text-and-pic, .encouragement, .community-text{
        font-size: 1.4rem;
    }

    .about-social-links img{
        width: 180%;
    }

    .load-more-pics a{
        color: whitesmoke;
        font-size: 1.5rem;
    }

    .images img{
        height: 300px;
    }


    .testimony, .testifiyer-name{
        font-size: 1.3rem;
    }

}


@media screen and (min-width:1000px) {
    .home-container{
        width: 98vw;
    }

    .hero{
        width: 85%;
        margin-right: auto;
    }

    .hero-image-group{
        margin-left: 0%;
        width: 100%;
    }

    .hero-image{
        width: 54%;
        margin-top: -10%;
    }

    .profession{
        font-size: 3.8rem;
        line-height: 65px;
    }

    .heart{
        /* width: 30vw; */
        height: 8vh;
        bottom: 40%;
        left: 30%;
    }

    .contact-me-btn{
        margin-bottom: 5vh;
    }

    .about-section, .images, .roles-and-responsibilities{
        width: 85%;
        margin-left: auto;

    }
    .community-building{
        width: 94%;
        margin-left: auto;
    }



    .about-header, .project-overview-header, .project-overview-header-design, .roles-header, .project-name, .community-header, .proofs-header, .learn-header, .youtube-header {
        font-size: 2.2rem;
    }    

    .curly{
        width: 60%;
        margin-top: -8%;
    }

    .about-paragraph, .encouragement .project-overview-text, .roles-paragraph, .each-project-text, .community-text-and-pic, .encouragement{
        font-size: 1.4rem;
    }

    .load-more-pics, .learn-header{
        margin-left: 7%;
    }

    .book-title{
        padding: 0;
    }
}


@media screen and (min-width:1200px) {
    .home-container{
        width: 98vw;
    }

    .hero{
        width: 85%;
        margin-right: auto;
    }

    .hero-image-group{
        margin-left: 0%;
        width: 100%;
    }

    .hero-image{
        width: 47%;
        margin-top: -11%;
    }

    .profession{
        font-size: 5rem;
        line-height: 100px;
    }

    .heart{
        /* width: 30vw; */
        height: 8vh;
        bottom: 40%;
        left: 55%;
    }

    .contact-me-btn{
        margin-bottom: 5vh;
        float: left;
        /* display: none; */
        width: 20%;
        margin-left: 8%;
        margin-top: -5%;

    }

    .about-section, .images, .roles-and-responsibilities{
        width: 85%;
        margin-left: auto;

    }
    .community-building{
        width: 94%;
        margin-left: auto;
    }



    .about-header, .project-overview-header, .project-overview-header-design, .roles-header, .project-name, .community-header, .proofs-header, .learn-header, .youtube-header {
        font-size: 2.2rem;
    }    

    .curly{
        width: 70%;
        height: 17vh;
    }

    .about-paragraph, .encouragement .project-overview-text, .roles-paragraph, .each-project-text, .community-text-and-pic, .encouragement{
        font-size: 1.4rem;
        
    }

    .about-paragraph, .roles-paragraph{
        margin-bottom: 7%;
    }

    .project-details{
        width: 85%;
    }

    .projects img {
        width: 11%;
    }

    .load-more-pics, .learn-header{
        margin-left: 7%;
    }

    .book-title{
        padding: 0;
    }

    .load-more-pics{
        padding: 1% 6%; 
    }

    .learn-crypto{
        margin-top: 2%;
    }

    .youtube{
        width: 85%;
    }


    .book-photo{
        width: 50%;
        margin-left: 25%;
        display: flex;
    }

    .book-photo:hover{
        width: 51%;
    }

    .book-title{
        margin-top: 1%;
    }

    .book-title img{
        width: 1%;
    }



    .books{
        margin-bottom: -6%;
    }

    .testimony{
        width: 85%;
    }
    .testimonies{
        margin-top: 8%;
        width: 95%;
    }

    .each-testimony{
        min-width: 40%;
        padding: 2% 1% 2% 2%;
    }
}