
a{

    color: whitesmoke;
}


.home-container{
    background-image: url("./images/background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y:center ;
    font-family: var(--primary-font);
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.home-container a{
    color: whitesmoke;
}

.heart{
    width: 15vw;
    height: 6vh;
    margin-top: 4rem;
    margin-left: -20%;
    object-fit: contain;
}

.hero{
    margin-top: 15vh;
    margin-left: auto;
    width: 96%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.hero-text-group{
    margin-bottom: -2vh;
}
.identity{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 100;
}

.profession{
    font-size: 1.8rem;
    line-height: 30px;
}

.hero-image-group{
    width: 120%;
    display: flex;
    /* margin-left: 12vw; */
    margin-left: -10%;
    justify-content: flex-end;
}

.hero-image{
    width: 75%;
}

.contact-me-btn {
    margin: 8vh auto 0 auto; 
    width: 60%;
    border-radius: 10px;
    border: none;
    background-color: #BD1B7F;
    padding: 2vh 6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: whitesmoke;
}

.contact-me-btn a{
    color: whitesmoke;
}

.about-section, .roles-and-responsibilities{
    width: 95%;
    margin: auto;
    font-family: var(--primary-font);
    line-height: 24px;
    margin-top: 12vh;
}

.about-header, .project-overview-header, .project-overview-header-design, .roles-header, .project-name, .community-header, .learn-header, .youtube-header{
    line-height: 28px;
    margin-bottom: 3vh;
}

.about-paragraph, .project-overview-text, .roles-paragraph, .each-project-text, .community-text-and-pic, .encouragement{
    font-size: 1rem;
    font-weight: 350;
}

.see-more{
    border: 2px solid #BD1B7F;
    background-color: rgba(40, 42, 41, 1);
    margin-top: 12%;
    padding: 10px 50px;
    font-size: 1.2rem;
    font-family: var(--primary-font);
    border-radius: 8px;
    margin-left: 5%;
    font-weight: 400;
    color: whitesmoke;
    transition: .2s ease-in;
}

.see-more:hover{
    background-color: #BD1B7F;
}

/* .see-more a{
    color: #BD1B7F;
} */

.about-social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 7vh;
    margin-left: 10vw;
}

.curly{
    margin-top: -8vh;
}

.project-overview{
    margin-top: 12vh;
}

.project-overview-header-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-details{
    margin: 12vh auto 0 auto;
    width: 100%;
    font-family: var(--primary-font);
    position: relative;
}


.project-details-header{
    width: 95%;
    margin: auto;
}



.color-pink{
    color: var(--accent-color);
}

.each-project{
    margin-top: 8vh;
    width: 98%;
    margin-left: auto;
}

.each-projects-social{
    padding-top: 2vh;
    display: flex;
    width: 25%;
    justify-content: space-between;
}


.bottom-blur{
    max-height: 600px;
    overflow-y: hidden;
    position: relative;
}

.bottom-blur::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px; /* Adjust the height of the fade */
    background: linear-gradient(to top, rgba(189, 27, 127, 0.113) 0%, rgba(40, 42, 41, 1) 100%);
    pointer-events: none;
    backdrop-filter: blur(2px);
}




.pic-name{
    padding-bottom: 5%;
}

.pic-name p{
    font-weight: 400;
}


.learn-crypto{
    width: 98%;
    margin-left: auto;
    margin-top: 20%;
    font-family: var(--primary-font);
}

.book-title{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
}

.book-title:hover{
    font-size: larger;
}

.book-title img{
    width: 4%;
}
.books{
    font-family: var(--primary-font);
    background: linear-gradient(to bottom, rgba(29, 28, 28, 0) 0%, rgb(38, 38, 38) 60%, rgba(189, 27, 127, 0.157) 80%, rgba(29, 28, 28, 0));
}


.book-photo{
    width: 80%;
    margin-left: 9%;
    margin-top: 6%;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}

.book-photo:hover{
    width: 82%;
    transition: .2s ease-in;
}

.encouragement{
    text-align: center;
    width: 98%;
    /* color: #ff009d; */
    opacity: 0.7;
    padding-bottom: 5%
}

.youtube{
    margin-top: 15%;
}

.community-building{
    font-family: var(--primary-font);
    margin-top: 7vh;
    width: 98%;
    margin-left: auto;
}


.testimonies{
    width: 98%;
    margin-left: auto;
    display: flex;
    overflow-x: hidden;
    margin-top: 15%;
}

.testimonies img{
    border-radius: 50%;
    width: 15%;
}


.each-testimony{
    min-width: 80%;
    font-family: var(--primary-font);
    font-weight: 200;
    font-size: 14px;
    background-color: #1C1C1C;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
    padding: 5% 1% 5% 3%;
    /* margin-left:5% ; */
    margin-right: 14%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}