


.navbar{
    display: flex;
    align-items: center;
    justify-content:center ;
}

.logo{
    margin-top: 3%;
    justify-content: center;
    width: 10%;
}


@media screen and (max-width: 768px) {
    .logo{
        margin-top: 5%;
        width: 30%;
    }
    /* .navbar{ */
        /* justify-content: space-between; */
    /* } */
    
}

/* .hamburger{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
} */

/* .bottom-open{
    transform: translateX(30%);
    transition: .3s ease-in-out ;
} */
/* 
.top{
    height: .6vh;
    background-color: #BD1B7F;
    margin-bottom: .5vh;
}

.bottom{
    background-color: rgb(247, 247, 247);
    height: .4vh;
    width: 75%;
} */

/* .nav-links-and-socials{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    position: absolute;
    height: 50vh;
    top: 5vh;
    font-family: var(--primary-font);
    background: rgba(180, 180, 180, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(-140%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;  /* Smooth transition */
    /* opacity: 0; */
/* } */ 

/* .nav-links-and-socials a{
    display: none;
} */