a{
    color: whitesmoke;
}

.footer-cover{
    color: whitesmoke;
    background-color: #BD1B7F;
    font-family: var(--primary-font);
}

.footer{
    width: 90vw;
    margin: auto;

}

.footer-logo{
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 5vh;
    padding-top: 5%;
    font-family: var(--primary-font);
}

.contact-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.contact-us-header, .subscribe-header{
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 4vh;
    margin-bottom: 1vh;
    
}

.mobile-footer, .mail-footer{
    font-size:.9rem ;
    font-weight: 350;
    display: flex;
}


.mobile-footer img, .mail-footer img{
    padding-right: 15px;
    margin-top: 4px;
}

.subscribe{
    width: 75%;
    flex-direction: column;
    display: flex;
    
}

.email-input{
    border-radius: 8px;
    background-color: #1C1C1C;
    padding: 2vh 1.5vw 2vh 2.5vw;
    border: 1px solid rgb(185, 185, 185);
    font-family: var(--primary-font);
    font-size: 16px;
}

.subscribe-button{
    background-color: #333333;
    border: none;
    border-radius: 8px;
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;
    margin-top: 1.5vh;
    cursor: pointer;
    color: whitesmoke;
}

.dermacation-line{
    width: 100%;
    height: .1vh;
    border: 1px solid #BD1B7F;
    margin-top: 3vh;
}

.footer-socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8vh;
    padding-bottom: 6vh;
    width: 60%;
    margin: auto;
}

@media screen and (min-width:620px) {
    
    .footer-logo{
        font-size: 1.3rem;
        font-weight: 700;
    }
}


@media screen and (min-width:1200px) {


    .footer{
        width: 90%;
    }

    .contact-footer h2{
        font-size: 1.3rem;
    }
    .contact-footer p{
        font-size: 1.1rem;
    }
    .subscribe  {
        width: 40%;
    }


}